           












/*-----------------Partie_Header-----------------*/
.heder{
    margin: 0px;
    padding: 0;

}
.header-menu ul{
    background-color: #E97B78;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.header-menu li{
    display: inline-block;
    list-style-type: none;
    align-self: center;
    }    
.header h1{
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 0px;
    color: #E97B78;
    
}
.header-title { 
    display: flex;
    justify-content: flex-end;
    
}
.header-logo{
    display: flex;
    width: auto;
}

