
.main-collapse{
  display: flex;
  align-items: center;
  flex-direction: column;
   
}

.collapsible {
    background-color: #E97B78;
    color: #FFFFFF;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    outline: none;
    font-size: 18px;
    margin-top: 45px;
    text-align: center ;
    border-radius: 5px; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5); 
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #EF5C59;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    color: white;
    font-family: sans-serif;
    text-align: center;
    display: none;
    overflow: hidden;
    background-color: #EF5C59;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    width: 90%;

  }
/*---------------------------Footer------------------------------*/

.body-footer{
    background-color: #ec6d6a;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 3px;
    font-size: 12px;
}

.footer-droit{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-unput{
  border-radius: 50px;
  text-align: center;
}

.footer-par{
  font-style: italic;
}

           












/*-----------------Partie_Header-----------------*/
.heder{
    margin: 0px;
    padding: 0;

}
.header-menu ul{
    background-color: #E97B78;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.header-menu li{
    display: inline-block;
    list-style-type: none;
    align-self: center;
    }    
.header h1{
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 0px;
    color: #E97B78;
    
}
.header-title { 
    display: flex;
    justify-content: flex-end;
    
}
.header-logo{
    display: flex;
    width: auto;
}

