
.title-content{
  box-shadow: 0px 1px 3px gray;
  margin: 5%;
  border-radius: 5px;
}
.title-principal{
  color: #DC524F;
  text-align: center;
}
.title-par{
  color: #E97B78;
  font-style: italic;
  text-align: center;
}

body{
  margin: 0px;
  display: flex;
  flex-direction: column;
}
/*----------------------fin body-----------------------*/


.main-collapse{
  display: flex;
  align-items: center;
  flex-direction: column;
   
}

.collapsible {
    background-color: #E97B78;
    color: #FFFFFF;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    outline: none;
    font-size: 18px;
    margin-top: 45px;
    text-align: center ;
    border-radius: 5px; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5); 
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #EF5C59;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    color: white;
    font-family: sans-serif;
    text-align: center;
    display: none;
    overflow: hidden;
    background-color: #EF5C59;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    width: 90%;
    padding-bottom:  50px;
/*-------------------FIN COLLAPSE-----------------------------*/
  }



/*---------------------------Footer------------------------------*/
.body-footer{
    background-color: #ec6d6a;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    padding: 1rem;
    position: relative;
    z-index: 1;
}

.footer-droit{
  text-align: center;
}

.footer-unput{
  border-radius: 50px;
  text-align: center;
  color: #ec6d6a;
  margin-bottom: 1rem;
}

.footer-par{
  margin: 0;
  margin-bottom: 1rem;
}
.italic {
  font-style: italic;
}
.footer-lien{
  font-weight: bold;
  color: white;
}

.footer-lien-menu{
  color: white;
}

.footer-list{
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
/*-------------------------------fin footer-----------------------------*/
           

#Evenements{
  margin-bottom: 30px;
}










/*-----------------Partie_Header-----------------*/
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  justify-content: baseline;
  order: -2;
  position: relative;
  z-index: 1;
}
.header-title{
  display: flex;
  justify-content: end;
  
}


.bar-title{
    width: auto;
    color: #E97B78;
    margin: 0px;
    font-size: 16px;
    font-weight: bold;

}
.barparentese {
    color: #E97B78;
    margin-left: 10px;
    font-size: 12px;
    
/*-------------------------fin header--------------------*/
/*------------------------debut bar nav-------------------*/
} 
.header-menu ul{
    background-color: #E97B78;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    height: 40px;
    box-shadow:0 0 10px 4px #888888;
    padding: .5rem; 

}
.header-menu li{
    display: inline-block;
    list-style-type: none;
    align-self: center;
    
}

.header-menu {
    position: sticky;
    bottom: 1rem;
}

@media (min-width: 768px) {
  .header-menu {
    order: -1;
    top: 0;
  }
}
/*-----------------------fin bar nav---------------------*/








/*--------------------- MODAL--------------------- */
* {
  font-family: 'Roboto', sans-serif;
}

#toggle{
  visibility: hidden;
}

#toggle:checked ~ dialog {
  display: block;
}

@keyframes appear {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
}

.modal-h1{
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}

.modal-phone span, .modal-address span{
  font-size: 16px;
  font-weight: bold;
}

.modal-phone, .modal-address, .modal-maps, .modal-socials{
  display: flex;
  justify-content: center;
}

.modal-maps iframe{
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  height: 40vh;
}

.modal-socials{
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  margin: 10px 0;
}

.modal-address{
  margin: 12px 0;
}

.modal-socials i{
  color: white;
  margin: 1em 0 0 0;
}

.modal-address span, .modal-phone span{
  margin: 0 12px;
}

.modal-address a{
  color: white;
  text-decoration: none;
}
/*--------------------fin modale--------------------------------*/
